nav{
    background-color: #CB5454;
}
.navigation-bar{
    max-width: 1300px;
    max-height: 100px;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}
.heading{
    height: auto;
    font-size: 250%;
}
.calender{
    font-size: 150%;
}