.description-container{
      padding: 1rem;
}
.d-up{
    display: flex;
    justify-content: space-around;
}
.d-task{
    background-color: #CB5454;;
    width: 40vw;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;

}
.d-complete{
    background-color: #CB5454;;
    width: 20vw;
    /* text-align: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
}
.d-data{
    background-color: #E3DEDE;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 0.5rem;
}